.home {
  background: #1e3c72;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2a5298, #1e3c72);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2a5298, #1e3c72);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Noto Sans', sans-serif !important; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: inherit;
  color: #FDFFFC; }
  a:visited {
    text-decoration: inherit;
    color: #FDFFFC !important; }

.container {
  margin: 0; }
  @media (min-width: 768px) {
    .container {
      margin-left: 10%;
      margin-right: 10%; } }
  @media (min-width: 1200px) {
    .container {
      margin-left: 13%;
      margin-right: 13%; } }

.button {
  border: 0px;
  text-align: center;
  color: #FDFFFC;
  transition: 0.2s linear;
  background: linear-gradient(#007FF7, #0061BC);
  cursor: pointer;
  border-radius: 0px; }
  @media (min-width: 768px) {
    .button {
      font-size: 1.1em; } }
  .button:hover {
    background: linear-gradient(#097ae4, #0058aa);
    color: #FDFFFC; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .buyselltrade-merch {
    display: inline-block;
    width: 80%;
    margin: 5%;
    height: 220px;
    overflow: auto; } }
  @media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
    .buyselltrade-merch {
      width: 80%;
      margin: 5%;
      display: inline-block; } }
  @media screen and (-ms-high-contrast: active) and (min-width: 992px), (-ms-high-contrast: none) and (min-width: 992px) {
    .buyselltrade-merch {
      width: 38%;
      margin: 5%;
      display: inline-block; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .buyselltrade-merch-icon i {
      margin-right: 30px;
      margin-bottom: 20px; }
  .buyselltrade-title {
    font-size: 2em;
    padding-bottom: 20px; }
    .buyselltrade-title-text {
      display: inline-block;
      zoom: 1;
      padding: 5px;
      font-size: 1em; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
      .buyselltrade-title-text {
        font-size: 2em; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .buyselltrade-about-button {
    margin-bottom: 20px; }
  .buyselltrade-contact-info-number a {
    color: #2D5DC4 !important; }
  .contactinfo-times {
    height: 260px !important; }
    .contactinfo-times-day {
      padding: 5px; }
    .contactinfo-times-title {
      padding-bottom: 10px; } }
