* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Noto Sans', sans-serif !important; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: inherit; }
  a:visited {
    text-decoration: inherit;
    color: white !important; }

.container {
  margin: 0; }
  @media (min-width: 768px) {
    .container {
      margin-left: 4%;
      margin-right: 4%; } }
  @media (min-width: 1200px) {
    .container {
      margin-left: 12%;
      margin-right: 12%; } }

.button {
  text-align: center;
  transition: 0.2s ease;
  cursor: pointer; }
  @media (min-width: 768px) {
    .button {
      font-size: 1.1em; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .buyselltrade-merch {
    display: block;
    position: relative;
    width: 99%;
    margin: 10px;
    height: 50px;
    overflow: hidden; } }
  @media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
    .buyselltrade-merch {
      margin-top: 35px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      width: 50%; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .buyselltrade-merch-button {
      width: 50%; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
      .buyselltrade-merch-button {
        width: 100%; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .buyselltrade-merch-card {
      height: 100%; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
      .buyselltrade-merch-card {
        transition: 0.3s ease;
        transform: translateY(0); } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
      .buyselltrade-merch-card:hover {
        transition: 0.2s ease;
        transform: translateY(0px); } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .buyselltrade-merch-icon i {
      margin-right: 30px;
      margin-bottom: 20px; }
  .buyselltrade-title {
    font-size: 1em;
    padding-bottom: 20px; }
    .buyselltrade-title-text {
      display: inline-block;
      zoom: 1;
      padding: 5px;
      font-size: 1.5em; } }
    @media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
      .buyselltrade-title-text {
        font-size: 1.5em; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .buyselltrade-about-button {
    margin-bottom: 20px; }
  .buyselltrade-contact-info-number a {
    color: #2D5DC4 !important; }
  .contactinfo-times {
    padding: 0;
    margin: 0;
    text-align: center;
    height: 260px !important; }
    .contactinfo-times-day {
      text-align: center !important;
      padding: 0px; }
    .contactinfo-times-title {
      padding-bottom: 10px; }
  .contactinfo-location a {
    color: #363636 !important; } }

@media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
  .contactinfo-location {
    margin-top: 150px; } }

@media screen and (-ms-high-contrast: active) and (min-width: 992px), (-ms-high-contrast: none) and (min-width: 992px) {
  .contactinfo-location-map {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%; } }

@media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
  .buyselltrade-grid-merch-card {
    transition: 0.3s ease;
    transform: translateY(0); } }

@media screen and (-ms-high-contrast: active) and (min-width: 768px), (-ms-high-contrast: none) and (min-width: 768px) {
  .buyselltrade-grid-merch-card:hover {
    transition: 0.2s ease;
    transform: translateY(0px);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3); } }
