@import 'variables.scss';
.buyselltrade {
  padding-top: 130px;
  &-grid {
    &-merch {
      margin-top: 20px;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      @include breakpoint(lg){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 30px;
      }
    }
  }
  &-title {
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    font-size: 3.0em;
    font-family: Bree Serif, serif;
    color: $blue;
    text-align: center;
    font-weight: 800;
    font-variant: small-caps;
    @include breakpoint(sm) {
      font-size: 4em;
      padding-right: 0;
    }
    @include breakpoint(md) {
      font-size: 5em;
    }
    @include breakpoint(lg) {
      font-size: 5.5em;
    }
    i {
      transition: 0.2s linear;
      opacity: 0.6;
      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
  &-merch {
    -webkit-text-stroke: 0.45px;
    display: grid;
    border: 2px solid $blue;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    grid-template-columns: 3fr 7fr;
    @include breakpoint(sm) {
      padding: 20px;
      margin-bottom: 30px;
    }
    @include breakpoint(lg){
      padding: 8px;
    }
    &-icon {
      color: $lightBlue;
      display: grid;
      grid-template-rows: 1fr 1fr;
      font-size: 1.3em;
      font-weight: 800;
      align-self: center;
      @include breakpoint(sm) {
        font-size: 1.5em;
      }
      @include breakpoint(md) {
        font-size: 1.8em;
      }
      button {
        -webkit-text-stroke: 0px;
        height: 45px;
        font-size: 0.50em;
      }
      span {
        color: $lightBlue;
        font-family: noto sans, sans-serif;
      }
    }
    &-info {
      font-size: 0.8em;
      align-self: center;
      line-height: 20px;
      white-space: wrap;
      @include breakpoint(sm) {
        font-size: 1em;
        line-height: 25px;
      }
      @include breakpoint(lg) {
        font-size: 1em;
      }
    }
  }
  &-about {
    color: $blue;
    text-align: center;
    &-top {
      letter-spacing: 0.3px;
      font-weight: 800;
      padding-bottom: 30px;
      font-size: 1em;
    }
    &-button {
      width: 170px;
      box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.2);
      font-size: 1em;
      @include breakpoint(sm) {
        font-size: 1em;
        width: 220px;
      }
      &:hover {
        box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
        transform: translate(0px, -10px) scale(1.2);
      }
    }
  }
  &-contact {
    color: $blue;
    text-align: center;
    &-info {
      font-size: 1.1em;
      @include breakpoint(sm) {
        font-size: 1.2em;
      }
      span {
        font-weight: 800;
        text-decoration: underline;
      }
      &-number {
        font-weight: 800;
        padding: 5px 0px 5px 0px;
        a {
          color: $lightBlue;
          text-decoration: underline;
        }
      }
      &-top {
        padding-bottom: 10px;
        font-size: 1.3em;
        font-weight: 800;
        @include breakpoint(sm) {
          font-size: 1.5em;
        }
      }
    }
  }
}
