.buyselltrade {
  padding-top: 130px;
  background-color: white; }
  .buyselltrade-grid {
    display: grid;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr; }
  .buyselltrade-title {
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
    font-size: 3.0em;
    font-family: Bree Serif, serif;
    color: #002D57;
    text-align: center;
    font-weight: 800;
    font-variant: small-caps; }
    @media (min-width: 768px) {
      .buyselltrade-title {
        font-size: 4em;
        padding-right: 0; } }
    @media (min-width: 992px) {
      .buyselltrade-title {
        font-size: 5em; } }
    @media (min-width: 1200px) {
      .buyselltrade-title {
        font-size: 5.5em; } }
    .buyselltrade-title i {
      transition: 0.2s linear;
      opacity: 0.6; }
      .buyselltrade-title i:hover {
        transform: scale(1.1);
        opacity: 1; }
  .buyselltrade-merch {
    display: grid;
    border: 2px solid #002D57;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    grid-template-columns: 3fr 7fr; }
    @media (min-width: 768px) {
      .buyselltrade-merch {
        padding: 30px;
        margin-bottom: 30px; } }
    .buyselltrade-merch-icon {
      font-size: 1.3em;
      font-weight: 800;
      align-self: center; }
      @media (min-width: 768px) {
        .buyselltrade-merch-icon {
          font-size: 1.5em; } }
      @media (min-width: 992px) {
        .buyselltrade-merch-icon {
          font-size: 1.8em; } }
    .buyselltrade-merch-info {
      font-size: 0.9em;
      align-self: center;
      line-height: 20px;
      white-space: wrap; }
      @media (min-width: 768px) {
        .buyselltrade-merch-info {
          font-size: 1em; } }
      @media (min-width: 992px) {
        .buyselltrade-merch-info {
          font-size: 1.2em; } }
  .buyselltrade-about {
    color: #002D57;
    text-align: center; }
    .buyselltrade-about-top {
      letter-spacing: 0.3px;
      font-weight: 800;
      padding-bottom: 20px;
      font-size: 1em; }
    .buyselltrade-about-bottom {
      font-variant: small-caps;
      font-family: Bree Serif, Serif;
      font-size: 2em;
      font-weight: 800;
      padding-bottom: 40px; }
  .buyselltrade-contact {
    color: #002D57;
    text-align: center; }
    .buyselltrade-contact-info {
      font-size: 1.1em; }
      @media (min-width: 768px) {
        .buyselltrade-contact-info {
          font-size: 1.2em; } }
      .buyselltrade-contact-info span {
        font-weight: 800;
        text-decoration: underline; }
      .buyselltrade-contact-info-number {
        font-weight: 800;
        padding: 5px 0px 5px 0px; }
      .buyselltrade-contact-info-top {
        padding-bottom: 10px;
        font-size: 1.3em;
        font-weight: 800; }
        @media (min-width: 768px) {
          .buyselltrade-contact-info-top {
            font-size: 1.5em; } }
