@import 'variables.scss';
.buyselltrade {
  height: 1050px;
  padding-top: 130px;
  @include breakpoint(sm){
    height: 1600px;
  }
  @include breakpoint(md){
    height: 1350px;
  }
  &-grid {
    &-merch {
      margin-top: 40px;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      @include breakpoint(sm){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
      }
    }
  }
  &-title {
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    font-size: 3.0em;
    font-family: noto sans;
    color: $white;
    text-align: center;
    font-weight: 800;
    font-variant: small-caps;
    @include breakpoint(sm) {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 4em;
      padding-right: 0;
    }
    @include breakpoint(md) {
      font-size: 5em;
    }
    @include breakpoint(lg) {
      font-size: 5em;
    }
    i {
      font-size: 0.7em;
      transition: 0.2s linear;
      opacity: 0.5;
      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
  &-merch {
    &-button {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 2%;
      height: 50px;
      border-radius: 0;
      -webkit-text-stroke: 0px;
      font-size: 1em;
      @include breakpoint(sm){
        height: 100%;
        margin:0;
      }
    }
    border-radius:0px;
    font-size: 1.1em;
    display: grid;
    border:0;
    margin-bottom: 10px;
    text-align: center;
    grid-template-rows: 1fr;
    @include breakpoint(sm) {
      background-color: white;
      grid-template-rows: 1fr 1fr 0.4fr;
      font-size: 1em;
      margin-bottom: 30px;
    }
    &-icon {
      display: none;
      font-size: 2em;
      font-weight: 800;
      align-self: center;
      @include breakpoint(sm) {
        padding-top: 10px;
        display: grid;
        font-size: 1.5em;
        grid-template-rows: 1fr 1fr;
      }
      @include breakpoint(md) {
        font-size: 1.8em;
      }
      span {
        font-weight: 800;
        color: black;
        font-family: noto sans, sans-serif;
      }
    }
    a {
      display: grid;
      grid-template-rows: 1fr;

    }
    &-info {
      display:none;
      padding:5px;
      font-size: 0.8em;
      align-self: center;
      line-height: 20px;
      white-space: wrap;
      @include breakpoint(sm) {
        display: grid;
        font-size: 1em;
        line-height: 25px;
        padding-bottom: 20px;
      }
      @include breakpoint(lg) {
        font-size: 1em;
      }
    }
  }
  &-about {
    color: $white;
    text-align: center;
    &-top {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 30px;
      letter-spacing: 0.3px;
      font-weight: 400;
      font-size: 1em;
      @include breakpoint(sm){
        padding-top: 30px;
        padding-bottom: 85px;
        font-size: 1.5em;
      }
    }
    &-button {
      height: 45px;
      letter-spacing: 0.0425em;
      width: 170px;
      font-size: 1em;
      background: red;
      @include breakpoint(sm) {
        height: 50px;
        font-size: 1em;
        width: 220px;
      }
      span {
        left: -55px;
        text-align: center;
        position: relative;
        color: $white;
        text-align: center;
        transition: 0.3 linear;
        opacity: 0;
      }
      p {
        transition: 0.3s linear;
        color: $white;
        display: inline-block;
        left: 30px;
        text-align: center;
        position: relative;

        opacity: 1;
      }
      &-open {
        span {
          transition:  linear 0.3s;
          opacity: 1;
        }
        p {
          transition: 0.3 linear;
          opacity: 0;
          // display: none;
        }
      }
    }
  }
  &-contact {
    color: $white;
    text-align: center;
    &-info {
      font-size: 1.1em;
      @include breakpoint(sm) {
        font-size: 1.2em;
      }
      span {
        font-weight: 800;
        text-decoration: underline;
      }
      &-number {
        font-weight: 800;
        padding: 5px 0px 5px 0px;
        a {
          color: white;
          text-decoration: underline;
        }
      }
      &-top {
        padding-bottom: 10px;
        font-size: 1.3em;
        font-weight: 800;
        @include breakpoint(sm) {
          font-size: 1.5em;
        }
      }
    }
  }
}

#elecBtn {
  background: $orange;
}
#elecIcon {
  color: $orange;
  font-size: 1.9em;
}
#toolsBtn {
  background: $lightBlue;
}
#toolsIcon {
  color: $lightBlue;
  font-size: 1.9em;
}
#jewelryBtn {
  background: $red;
}
#jewelryIcon {
  color: $red;
  font-size: 1.9em;
}
.contactButtonClick-enter {
  opacity: 0.1;
  height: 0;
}

.contactButtonClick-enter.contactButtonClick-enter-active {
  transition: linear 250ms;
  opacity: 1;
  height: 300px;
}

.contactButtonClick-leave {
  opacity: 1;
  height: 300px;
}

.contactButtonClick-leave.contactButtonClick-leave-active {
  transition: 250ms linear;
  opacity: 0.1;
  height: 0px;
}