.buyselltrade {
  background: #1e3c72;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #2a5298, #1e3c72);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #2a5298, #1e3c72);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 130px;
  padding-bottom: 80px; }
  .buyselltrade-grid-merch {
    margin-top: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; }
    @media (min-width: 768px) {
      .buyselltrade-grid-merch {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 30px; } }
    .buyselltrade-grid-merch-card {
      height: 100%; }
      @media (min-width: 768px) {
        .buyselltrade-grid-merch-card {
          transition: 0.3s ease;
          transform: translateY(0); } }
      @media (min-width: 768px) {
        .buyselltrade-grid-merch-card:hover {
          transition: 0.2s ease;
          transform: translateY(-30px); } }
  .buyselltrade-title {
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    font-size: 3.0em;
    font-family: noto sans;
    color: #FDFFFC;
    text-align: center;
    font-weight: 800;
    font-variant: small-caps; }
    @media (min-width: 768px) {
      .buyselltrade-title {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 4em;
        padding-right: 0; } }
    @media (min-width: 992px) {
      .buyselltrade-title {
        font-size: 5em; } }
    @media (min-width: 1200px) {
      .buyselltrade-title {
        font-size: 5em; } }
    .buyselltrade-title i {
      font-size: 0.7em;
      transition: 0.2s linear;
      opacity: 0.5; }
      .buyselltrade-title i:hover {
        transform: scale(1.1);
        opacity: 1; }
  .buyselltrade-merch {
    margin-bottom: 0;
    height: 100%;
    border-radius: 0px;
    font-size: 1.1em;
    display: grid;
    border: 0;
    text-align: center;
    grid-template-rows: 1fr; }
    .buyselltrade-merch-button {
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 20px;
      height: 50px;
      border-radius: 0;
      -webkit-text-stroke: 0px;
      font-size: 1em; }
      @media (min-width: 768px) {
        .buyselltrade-merch-button {
          height: 100%;
          margin: 0; } }
    @media (min-width: 768px) {
      .buyselltrade-merch {
        background-color: white;
        grid-template-rows: 1fr 1fr 0.4fr;
        font-size: 1em; } }
    .buyselltrade-merch-icon {
      display: none;
      font-size: 2em;
      font-weight: 800;
      align-self: center; }
      @media (min-width: 768px) {
        .buyselltrade-merch-icon {
          padding-top: 10px;
          display: grid;
          font-size: 1.5em;
          grid-template-rows: 1fr 1fr; } }
      @media (min-width: 992px) {
        .buyselltrade-merch-icon {
          font-size: 1.8em; } }
      .buyselltrade-merch-icon span {
        font-weight: 800;
        color: black;
        font-family: noto sans, sans-serif; }
    .buyselltrade-merch a {
      display: grid;
      grid-template-rows: 1fr; }
    .buyselltrade-merch-info {
      display: none;
      padding: 5px;
      font-size: 0.8em;
      align-self: center;
      line-height: 20px;
      white-space: wrap; }
      @media (min-width: 768px) {
        .buyselltrade-merch-info {
          display: grid;
          font-size: 1em;
          line-height: 25px;
          padding-bottom: 20px; } }
      @media (min-width: 1200px) {
        .buyselltrade-merch-info {
          font-size: 1em; } }
  .buyselltrade-about {
    color: #FDFFFC;
    text-align: center; }
    .buyselltrade-about-top {
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 30px;
      letter-spacing: 0.3px;
      font-weight: 400;
      font-size: 1em; }
      @media (min-width: 768px) {
        .buyselltrade-about-top {
          padding-top: 30px;
          padding-bottom: 85px;
          font-size: 1.5em; } }
    .buyselltrade-about-button {
      height: 45px;
      letter-spacing: 0.0425em;
      width: 170px;
      font-size: 1em;
      background: red; }
      @media (min-width: 768px) {
        .buyselltrade-about-button {
          height: 50px;
          font-size: 1em;
          width: 220px; } }
      .buyselltrade-about-button span {
        left: -55px;
        text-align: center;
        position: relative;
        color: #FDFFFC;
        text-align: center;
        transition: 0.3 linear;
        opacity: 0; }
      .buyselltrade-about-button p {
        transition: 0.3s linear;
        color: #FDFFFC;
        display: inline-block;
        left: 30px;
        text-align: center;
        position: relative;
        opacity: 1; }
      .buyselltrade-about-button-open span {
        transition: linear 0.3s;
        opacity: 1; }
      .buyselltrade-about-button-open p {
        transition: 0.3 linear;
        opacity: 0; }
  .buyselltrade-contact {
    color: #FDFFFC;
    text-align: center; }
    .buyselltrade-contact-info {
      padding-top: 20px;
      font-size: 1.1em; }
      @media (min-width: 768px) {
        .buyselltrade-contact-info {
          font-size: 1.2em; } }
      .buyselltrade-contact-info span {
        font-weight: 800;
        text-decoration: underline; }
      .buyselltrade-contact-info-number {
        font-weight: 800;
        padding: 5px 0px 5px 0px; }
        .buyselltrade-contact-info-number a {
          color: white;
          text-decoration: underline; }
      .buyselltrade-contact-info-top {
        padding-bottom: 10px;
        font-size: 1.3em;
        font-weight: 800; }
        @media (min-width: 768px) {
          .buyselltrade-contact-info-top {
            font-size: 1.5em; } }

#elecBtn {
  background: #FF9F1C; }

#elecIcon {
  color: #FF9F1C;
  font-size: 1.9em; }

#toolsBtn {
  background: #2D5DC4; }

#toolsIcon {
  color: #2D5DC4;
  font-size: 1.9em; }

#jewelryBtn {
  background: #E71D36; }

#jewelryIcon {
  color: #E71D36;
  font-size: 1.9em; }

.contactButtonClick-enter {
  opacity: 0.1;
  height: 0; }

.contactButtonClick-enter.contactButtonClick-enter-active {
  transition: linear 250ms;
  opacity: 1;
  height: 300px; }

.contactButtonClick-leave {
  opacity: 1;
  height: 300px; }

.contactButtonClick-leave.contactButtonClick-leave-active {
  transition: 250ms linear;
  opacity: 0.1;
  height: 0px; }
