@import './variables.scss';
.contactinfo {
  overflow: hidden;
  color: white;
  font-size: 1em;
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  object-fit: cover;
  grid-template-columns: 1fr;
  background-color: $blue;
  @include breakpoint(sm) {
    grid-template-columns: 6fr 4fr;
  }
  &-times {
    text-align: center;
    height: 400px;
    display: grid;
    grid-template-rows: 2fr 8fr;
    padding: 2%;
    grid-template-rows: repeat(8, 1fr);
    &-title {
      font-size: 2em;
      opacity: 1;
    }
    &-day {
      font-size: 1.2em;
      opacity: 1;
      }
  }
  &-location {
    height: 400px;
    display: grid;
    grid-template-rows: 2fr 8fr;
    padding: 2%;
    &-title {
      font-size: 2em;
      text-align: center;
      p:nth-of-type(2){
        font-size: 0.5em;
        opacity: 0.8;
      }
    }
  }
}