@import './variables.scss';
.contactinfo {
  overflow: hidden;
  color: $black;
  font-size: 1em;
  margin-bottom: 100px;
  display: grid;
  object-fit: cover;
  grid-template-columns: 1fr;
  background-color: $lightGray;
  @include breakpoint(sm) {
    grid-template-columns: 5fr 5fr;
  }
  &-times {
    margin-bottom: 100px;
    align-items: center;
    text-align: center;
    height: 300px;
    grid-template-rows: 2fr 8fr;
    padding: 2%;
    @include breakpoint (sm) {
      height: 400px;
      margin-bottom: 0;
    }
    &-title {
      position: relative;   
      font-weight: 800;
      font-size: 2em;
      @include breakpoint(sm){
        padding-left: 50px;
      }
    }
    &-day {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 20px;
      font-size: 1.2em;
      opacity: 1;
      @include breakpoint(sm){
        text-align: right;
      }
      span {
        @include breakpoint(sm){
          padding-left: 7px;
          text-align: left;
        }
        font-weight: 800;
      }
      }
    ul {
        padding-top: 30px;
        @include breakpoint(sm){
          padding-top: 50px;
          line-height: 1.2;

        }
      }
  }
  &-location {
    font-weight: 800;
    align-items: center;
    height: 400px;
    display: grid;
    grid-template-rows: 2fr 8fr;
    padding: 2%;
    &-map {
      &-display {
        padding: 2.5%;
        width: 95%;
        height: 300px;
        @include breakpoint(sm){
          padding-left: 10%;
          padding-right: 10%;
          width: 80%;
        }
      }
    }
    &-title {
      font-size: 2em;
      text-align: center;
      a {
        text-decoration: underline;
        color: $black;
        font-size: 0.6em;
      &:visited {
        color: $black;
      }
      }
      p:nth-of-type(2){
        font-size: 0.5em;
        opacity: 0.8;
      }
    }
  }
}