.contactbuttoncomponent {
  margin-top: 50px;
  height: 300px;
  display: block;
  position: relative;
  border: 2px solid red;
  &-x {
    height: 100%;
    background-color: blue;
    width: 70%;
  }
}