@import './variables.scss';
.contactinfo {
  overflow: hidden;
  color: white;
  font-size: 1em;
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  object-fit: cover;
  grid-template-columns: 1fr;
  background-color: $blue;
  @include breakpoint(sm) {
    grid-template-columns: 4fr 5fr;
  }
  &-times {
    align-items: center;
    text-align: center;
    height: 400px;
    display: grid;
    grid-template-rows: 2fr 8fr;
    padding: 2%;
    grid-template-rows: repeat(8, 1fr);
    @include breakpoint (sm) {
      height: 600px;
    }
    &-title {
      font-size: 2em;
      opacity: 1;
    }
    &-day {
      font-size: 1.2em;
      opacity: 1;
      }
  }
  &-location {
    align-items: center;
    height: 600px;
    display: grid;
    grid-template-rows: 2fr 8fr;
    padding: 2%;
    &-map {
      &-display {
        width: 100%;
        height: 400px;
        @include breakpoint(sm){
          padding-left: 10%;
          padding-right: 10%;
          width: 80%;
        }
      }
    }
    &-title {

      font-size: 2em;
      text-align: center;
      p:nth-of-type(2){
        font-size: 0.5em;
        opacity: 0.8;
      }
    }
  }
}