@import 'variables.scss';
.contactbuttoncomponent {
  color: $black;
  margin-top: 50px;
  height: 300px;
  display: block;
  position: relative;
  background-color: $lightGray;
  &-x {
    right: 0;
    position: absolute;
    cursor: pointer;
    transition: 0.13s linear;
    color: $black;
    font-size: 2.2em;
    font-weight: 800;
    z-index: 5;
    height: 50px;
    width: 50px;
    span {
      top: 20px;
      opacity: 100%;
      position: absolute;
      transition: 0.25s ease-in;
      height: 4px;
      border-radius: 3px;
      background-color: $black;
      width: 30px;
      right: 10px;
    }
    span:nth-child(1) {
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      transform: rotate(-45deg);
    }
    &:hover {
      transition: 0.13s linear;
      // background-color: darken($color: $lightGray, $amount: 10);
    }
  }
  &-top {
    overflow: hidden;
    letter-spacing: -1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
    box-sizing: border-box;
    height: 60%;
    @media only screen and (max-width : 320px) {
      font-size: 1em;
      }
      @media only screen and (min-width : 435px) {
        font-size: 1.13em;
        }
      @include breakpoint(sm){
        font-size: 1.3em;
      }
    p {
      padding-bottom: 10px;
      @include breakpoint(md){
        padding-bottom: 50px;
      }
    }
    span {
      font-weight: 800;
    }
  }
  &-bottom {
    box-sizing: border-box;
    height: 40%;
    border-top: 1px solid rgba($color: $black, $alpha: 0.2);
    &-phone {
      padding-top: 20px;
      a {
        color: $black;
        font-weight: 800;
      }
    }
    &-button {
      transition: linear 0.2s;
      border-radius: 4px;
      width: 170px;
      height: 45px;
      margin-top: 15px;
      border: 2px solid $orange;
      cursor: pointer;
      position: relative;
      @include absolutecenter(x);
      background-color: $lightGray;
      color: $black;
      vertical-align: middle;
      line-height: 45px;
      font-size: 1em;
      @include breakpoint(sm) {
        height: 50px;
        width: 220px;
        line-height: 50px;
      }
      &:hover {
        transition: linear 0.2s;
        background-color: $orange;
        color: $white;
        border: 2px solid $orange;
      }
    }
  }
}