@import 'variables.scss';
.footer {
  color: $white;
  height: 200px;
  background-color: $blue;
  &-social {
    color: $white;
    height: 60px;
    width: 100%;
    background-color: lighten($color: $blue, $amount: 10);
    text-align: center;
    a {
      transition: linear 0.1s;
      cursor: pointer;
      font-size: 2.1em;
      padding: 14.5px 20px 6px 20px;
      opacity: 0.8;
      @include breakpoint(sm) {
        font-size: 3em;
        padding: 8px 20px 6px 20px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  &-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-webdev {
      width: 100%;
      text-align: center;
      color: $white;
      opacity: 0.3;
      font-size: 0.8em;
    }
  }
}