@import 'variables.scss';
.navbar {
  z-index: 5;
  top: 0;
  height: 70px;
  width: 100%;
  background: darken($color: $black, $amount: 5);
  border-bottom: 1px solid black;
  position: fixed;
  transition: 0.3s ease-in;
  &-icon {
    transition: 0.2s linear;
    height: 20px;
    width: 200px;
    padding: 20px;
    position:fixed;
    opacity: 1;
  }
  &-wide {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
    &-links {
      float: right;
      a {
        color: $white;
        text-align: center !important;
        width: 115px;
        box-sizing: border-box;
        transition: 0.25s linear;
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 27px;
        padding-bottom: 25px;

        &:hover {
          transition: ease 0s;
          background-color: lighten($color: $black, $amount: 30);
          border-bottom:  3px solid $white;
        }
      }
      &-contact {
        background-color: $orange;
        border-bottom: 3px solid $orange;
        &:hover {
          background-color: lighten($color: $orange, $amount: 10) !important;
        }
      }
    }
  }
  &-mobile{
    &-burger {
      position: relative;
      float: right;
      display: block;
      color: $white;
      padding: 30px;
      opacity: 1;
      @include breakpoint(sm){
        display: none;
      }
      span {
        opacity: 100%;
        position: fixed;
        transition: 0.25s ease-in;
        height: 4px;
        border-radius: 3px;
        background-color: white;
        width: 30px;
        margin: 5px;
        right: 10px;
        display: inline-block;
      }
      span:nth-child(1) {
        top: 15px;
      }
      span:nth-child(2) {
        top: 25px;
      }
      span:nth-child(3) {
        top: 35px;
      }
      &.open {
        position: relative;
        top:15x;
        float: right;
         span:nth-child(1) {
           transform: rotate(135deg);
          top: 24px;
         }
         span:nth-child(2) {
           opacity: 0;
         }
         span:nth-child(3) {
          transform: rotate(-135deg);
          top: 24px;
         }
      }

      &:hover {
        transition: 0.2s ease-in;
        cursor: pointer;
      }
    }
    &-links {
      display: none;
      width: 100%;
      &-active {
        color: $white;
        transition: 0.2s ease;
        display: inline-block;
        padding-top: 22px;
        padding-bottom: 22px;
        width: 100%;
        text-align: center;
        background: $black;
        @include breakpoint(sm) {
          display: none;
        }
        &:hover {
          background-color: lighten($color: $black, $amount: 30);
        }
      }
    }
  }
}

.nav-black {
  background: lighten($color: $black, $amount: 7);
}
.nav-darkBlack{
  background-color: $black;
}