@import 'variables.scss';
.navbar {
  height: 70px;
  width: 100%;
  background-color: $blue;
  position: fixed;
  &-icon {
    height: 20px;
    width: 200px;
    padding: 20px;
    position:fixed;
  }
  &-wide {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
    &-links {
      float: right;
      a {
        transition: 0.3s linear;
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 27px;
        padding-bottom: 27px;
        &:hover {
          background-color: $lightBlue;
        }

      }
    }
  }
  &-mobile{
    &-burger {
      display: block;
      color: $white;
      float: right;
      padding: 15px;
      @include breakpoint(sm){
        display: none;
      }
      &:hover {
        transition: 0.2s ease-in;
        cursor: pointer;
      }
    }
    &-links {
      display: none;
      width: 100%;
      &-active {
        transition: 0.2s ease;
        display: inline-block;
        padding-top: 22px;
        padding-bottom: 22px;
        width: 100%;
        text-align: center;
        background-color: $blue;
        @include breakpoint(sm) {
          display: none;
        }
        &:hover {
          background-color: $lightBlue;
        }
      }
    }
  }
}

.contact-link {
  background-color: lighten($color: $blue, $amount: 10)
}