.navbar {
  z-index: 5;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: #002D57;
  position: fixed; }
  .navbar-icon {
    transition: 0.2s linear;
    height: 20px;
    width: 200px;
    padding: 20px;
    position: fixed;
    opacity: 1; }
  .navbar-wide {
    display: none; }
    @media (min-width: 768px) {
      .navbar-wide {
        display: block; } }
    .navbar-wide-links {
      float: right; }
      .navbar-wide-links a {
        color: white;
        text-align: center !important;
        width: 115px;
        box-sizing: border-box;
        transition: 0.25s linear;
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 27px;
        padding-bottom: 25px; }
        .navbar-wide-links a:hover {
          transition: ease 0s;
          background-color: #0054A3;
          border-bottom: 2px solid white; }
      .navbar-wide-links-contact {
        background-color: #0054A3;
        border-bottom: 2px solid #0054A3; }
        .navbar-wide-links-contact:hover {
          background-color: #006ed6 !important; }
  .navbar-mobile-burger {
    position: relative;
    float: right;
    display: block;
    color: white;
    padding: 30px;
    opacity: 1; }
    @media (min-width: 768px) {
      .navbar-mobile-burger {
        display: none; } }
    .navbar-mobile-burger span {
      opacity: 100%;
      position: fixed;
      transition: 0.25s ease-in;
      height: 4px;
      border-radius: 3px;
      background-color: white;
      width: 30px;
      margin: 5px;
      right: 10px;
      display: inline-block; }
    .navbar-mobile-burger span:nth-child(1) {
      top: 15px; }
    .navbar-mobile-burger span:nth-child(2) {
      top: 25px; }
    .navbar-mobile-burger span:nth-child(3) {
      top: 35px; }
    .navbar-mobile-burger.open {
      position: relative;
      top: 15x;
      float: right; }
      .navbar-mobile-burger.open span:nth-child(1) {
        transform: rotate(135deg);
        top: 24px; }
      .navbar-mobile-burger.open span:nth-child(2) {
        opacity: 0; }
      .navbar-mobile-burger.open span:nth-child(3) {
        transform: rotate(-135deg);
        top: 24px; }
    .navbar-mobile-burger:hover {
      transition: 0.2s ease-in;
      cursor: pointer; }
  .navbar-mobile-links {
    display: none;
    width: 100%; }
    .navbar-mobile-links-active {
      transition: 0.2s ease;
      display: inline-block;
      padding-top: 22px;
      padding-bottom: 22px;
      width: 100%;
      text-align: center;
      background-color: #00478a; }
      @media (min-width: 768px) {
        .navbar-mobile-links-active {
          display: none; } }
      .navbar-mobile-links-active:hover {
        background-color: #0054A3; }

.nav-blue {
  background-color: #002D57; }

.nav-darkblue {
  background-color: #00478a; }
