.navbar {
  height: 70px;
  width: 100%;
  background-color: #002D57; }
  .navbar-wide {
    display: none; }
    @media (min-width: 768px) {
      .navbar-wide {
        display: block; } }
  .navbar-mobile-burger {
    display: block;
    color: #EBEDF8;
    float: right;
    padding: 15px; }
    @media (min-width: 768px) {
      .navbar-mobile-burger {
        display: none; } }
    .navbar-mobile-burger:hover {
      transition: 0.2s ease-in;
      cursor: pointer;
      opacity: 0.7; }
  .navbar-mobile-links {
    display: none;
    width: 100%; }
    .navbar-mobile-links-active {
      transition: 0.2s ease;
      display: inline-block;
      height: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      text-align: center;
      background-color: #002D57; }
      @media (min-width: 768px) {
        .navbar-mobile-links-active {
          display: none; } }
      .navbar-mobile-links-active:hover {
        background-color: #0054A3; }
