@import '../../styles/variables.scss';
.album {
  padding-bottom: 300px;
  width: 100%;
  background-color: darken($color: $black, $amount: 5);
  @media (min-width: 2000px) {
    height: 100vh;
  }
  &-description {
    text-align: center;
    color: $white;
    &-links {
      a {
        width: 85%;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        @media (min-width: 500px) {
          width: 180px;
          font-size: 1.1em;
          display: block;
          margin: 30px auto;
        }
        @include breakpoint(sm) {}
      }
      &-ebay {
        background-color: $red;
        margin-bottom: 20px;
        @media (min-width: 500px) {}
        @include breakpoint(sm) {
          margin-top: 20px;
        }
        &:hover {
          background-color: lighten($color: $red, $amount: 10);
        }
      }
      &-offerup {
        background-color: $green;
        &:hover {
          background-color: lighten($color: $green, $amount: 10);
        }
      }
    }
    &-text {
      p {
        padding: 20px;
        @include breakpoint(sm) {
          font-size: 1.1em;
        }
        @include breakpoint(md) {
          font-size: 1.3em;
        }
        span {
          font-weight: 800;
        }
      }
    }
  }
  &-container {
    padding-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 100px;
    @include breakpoint(md) {
      padding-top: 200px;
    }
    &-images {
      img {
        cursor: pointer;
        width: 100%;
        transition: 0.3s ease-in;
        height: 270px;
        border-radius: 4px;
        @media (min-width: 600px) {
          height: 400px !important;
        }
        @media (min-width: 900px) {
          height: 500px !important;
        }
        @include breakpoint(md) {
          transform: scale(0.8);
          height: 500px;
          max-height: 500px;
        }
        @include breakpoint(lg) {
          max-height: 400px;
          height: 400px;
        }
        @media (min-width: 2000px) {
          max-height: 500px;
          height: 500px;
        }
      }
    }
  }
  .slick-current {
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
    box-shadow: 0 30x 15px rgba(0, 0, 0, 0.2);
  }
}