.errorpage {
  margin-top: 71px;
  height: 100vh;
  background-color: #363636; }
  .errorpage-text {
    padding-top: 100px;
    width: 100%;
    text-align: center;
    font-size: 4em;
    color: white; }
  .errorpage-button {
    display: block;
    background-color: #F15025;
    margin: 50px auto;
    font-size: 1em;
    padding: 20px;
    text-align: center;
    line-height: 50px; }
    @media (min-width: 768px) {
      .errorpage-button {
        width: 60%;
        height: 80px;
        line-height: 80px;
        border-radius: 4px;
        font-size: 2.4em; }
        .errorpage-button:hover {
          background-color: #f47655; } }
